body {
    margin: 0;
    font-family: monospace, sans-serif;
}

header {
    width: 100%;
    text-align: center;    
}

table, td {
    border-radius: 5px;
    border: 2px solid black ;
    padding: 2px;
}

.column-names {
    text-align: center;
    font-weight: bold;
}
